@use '../abstracts';

.gallery{
    margin-top: 1.5rem;
    margin-bottom: 6.9375rem;
    position: relative;

    @include abstracts.breakpoint-up(medium){
        margin-inline: 1.5rem;
       // margin-bottom: 4.9375rem;
    }



    @include abstracts.breakpoint-up(large){
        
        display: flex;
        justify-content: space-between;
        gap: 7.8125rem;
        width: 69.375rem; //1110px
        margin: 2rem auto;

    }

    &:before{
        @include abstracts.breakpoint-up(xlarge){
          content: "";
          display: block;
          position: absolute;
          background-image: url('./../assets/shared/pattern-square.svg');
          left: 0;
          transform: translateX(calc(-100% - 1.5rem));
          width: 15.9375rem;
          height: 15rem;
        }
      }
   
    &__wrapper{
        display: flex;
        gap: 1.5rem;
        margin-left: -1.5rem;
        margin-right: 1.5rem;

        @include abstracts.breakpoint-up(medium){
            margin-inline: 0rem;
        }

        @include abstracts.breakpoint-up(large){
            margin: 0;
            
        }
    }

    &__image{
        object-fit: cover;
        width: 100%;
        display: block;
        border-radius: 1rem;
    }

    &__text{
        text-align: center;
        padding-top: 4.6875rem;

        @include abstracts.breakpoint-up(medium){
            display: flex;
            gap: 2.25rem;
            justify-content: center;
        }

        @include abstracts.breakpoint-up(large){
            flex-direction: column;
            gap: 0rem;
            
        }
    }

    &__headline{
        margin-inline: 2.5rem;

        @include abstracts.breakpoint-up(medium){
            text-align: left;
            margin-inline: 0;
            
            max-width: 16rem;
        }
    }

    &__paragraph{
        margin-top: 1.5rem;
        margin-inline: 1.5rem;

        @include abstracts.breakpoint-up(medium){
            max-width: 25rem; 
            margin-inline: 0;
        }

        @include abstracts.breakpoint-up(large){
            text-align: left;
            max-width: unset;
        }
    }
}

.multiply{
    mix-blend-mode: multiply;
    opacity: 0.75;
}

.orange{
    background-color: abstracts.$primary-500;
    display: inline-block;
    border-radius: 1rem;
}