@use '../abstracts';

* {
  box-sizing: border-box;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: abstracts.$neutral-600;
  overflow-x: hidden;

}


// this class hides elements, which can be seen only with screen reader
.sr-only {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
  background-color: transparent;
  border: none;
  color: transparent;
  text-decoration: none;
}

.flex {
  display: flex;
  justify-content: space-between;

  &--ai-c {
    @extend .flex;
    align-items: center;
  }
}

// container - center the elements in large view
.container {
  margin-inline: 1.5rem;

  @include abstracts.breakpoint-up(large) {
    width: 69.375rem; //1110px
    margin: 0px auto;
  }
}
