h1, h2, h3 {
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  color: #162441;
  margin-top: 0;
}

h1 {
  font-size: 3rem;
  line-height: 3rem;
  margin-bottom: 2rem;
}
@media only screen and (min-width: 64em) {
  h1 {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.625rem;
  color: #7b8bad;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

* {
  box-sizing: border-box;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}

.sr-only {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
  background-color: transparent;
  border: none;
  color: transparent;
  text-decoration: none;
}

.flex, .flex--ai-c {
  display: flex;
  justify-content: space-between;
}
.flex--ai-c {
  align-items: center;
}

.container {
  margin-inline: 1.5rem;
}
@media only screen and (min-width: 64em) {
  .container {
    width: 69.375rem;
    margin: 0px auto;
  }
}

.button, .button--neutral, .button--primary {
  font-family: "Barlow", sans-serif;
  text-transform: uppercase;
  line-height: 1.625rem;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  padding: 0.6875rem 0.875rem;
  border-radius: 0.5rem;
  display: inline-block;
}
@media only screen and (min-width: 40em) {
  .button, .button--neutral, .button--primary {
    padding: 1rem 1.625rem;
  }
}
.button--primary {
  color: white;
  background-color: #f26818;
}
.button--primary:hover {
  background-color: #ff9b61;
}
.button--neutral {
  color: #162441;
  background-color: #e8eff2;
}
.button--neutral:hover {
  color: white;
  background-color: #162441;
}

.header {
  padding-block: 1.5rem;
}
.header__logolink {
  text-decoration: none;
}

.hero {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 40em) {
  .hero {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.hero__text {
  margin-bottom: 4.6875rem;
}
@media only screen and (min-width: 40em) {
  .hero__text {
    flex: 0 0 25rem;
    padding-right: 3.75rem;
    margin-bottom: 0rem;
  }
}
@media only screen and (min-width: 64em) {
  .hero__text {
    flex: 0 0 27.8125rem;
  }
}
.hero__image {
  border-radius: 1.125rem;
  min-width: 23.25rem;
  height: auto;
  flex-shrink: 0;
}
@media only screen and (min-width: 40em) {
  .hero__image {
    height: 26.5625rem;
    width: auto;
  }
}
@media only screen and (min-width: 64em) {
  .hero__image {
    width: 33.75rem;
    height: auto;
  }
}
.hero span {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #7b8bad;
  margin-left: 2rem;
}

.gallery {
  padding-top: 1.5rem;
}
.gallery__wrapper {
  display: flex;
  margin-right: 1.5rem;
  gap: 1.5rem;
  height: 12.0625rem;
}
.gallery__image {
  object-fit: contain;
  height: 12.0625rem;
}

.corners--right {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.corners--left {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.multiply {
  mix-blend-mode: multiply;
  opacity: 0.75;
}

.orange {
  background-color: #f26818;
}

/*# sourceMappingURL=style.css.map */
