/* 
Mixins
*/
h1,
h2,
h3 {
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  color: #162441;
  margin-top: 0;
}

h1 {
  font-size: 3rem;
  line-height: 3rem;
  margin-bottom: 2rem;
}
@media only screen and (min-width: 68em) {
  h1 {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.625rem;
  color: #7b8bad;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

* {
  box-sizing: border-box;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #7b8bad;
  overflow-x: hidden;
}

.sr-only {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
  background-color: transparent;
  border: none;
  color: transparent;
  text-decoration: none;
}

.flex, .flex--ai-c {
  display: flex;
  justify-content: space-between;
}
.flex--ai-c {
  align-items: center;
}

.container {
  margin-inline: 1.5rem;
}
@media only screen and (min-width: 68em) {
  .container {
    width: 69.375rem;
    margin: 0px auto;
  }
}

.button, .button--neutral, .button--primary {
  font-family: "Barlow", sans-serif;
  text-transform: uppercase;
  line-height: 1.625rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  padding: 0.6875rem 0.875rem;
  border-radius: 0.5rem;
  border: none;
  display: inline-block;
}
@media only screen and (min-width: 40em) {
  .button, .button--neutral, .button--primary {
    padding: 1rem 1.625rem;
  }
}
.button--primary {
  color: white;
  background-color: #f26818;
}
.button--primary:hover {
  background-color: #ff9b61;
}
.button--primary:focus {
  outline: 3px solid #162441;
}
.button--neutral {
  color: #162441;
  background-color: #e8eff2;
}
.button--neutral:hover {
  color: white;
  background-color: #162441;
}
.button--neutral:focus {
  outline: 3px solid #f26818;
}

.header {
  padding-block: 1.5rem;
}
@media only screen and (min-width: 40em) {
  .header {
    padding-block: 2.5rem;
  }
}
@media only screen and (min-width: 68em) {
  .header {
    padding-block: 3.4375rem;
  }
}
.header__logolink {
  text-decoration: none;
}
.header__logolink:focus, .header__logolink:focus-visible {
  outline: 3px solid #162441;
}

.hero {
  padding-top: 2.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
@media only screen and (min-width: 40em) {
  .hero {
    padding-top: 1.375rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
@media only screen and (min-width: 40em) {
  .hero {
    padding-top: 1.75rem;
  }
}
@media only screen and (min-width: 89.5em) {
  .hero:after {
    content: "";
    display: block;
    position: absolute;
    background-image: url("./../assets/shared/pattern-square.svg");
    right: 0;
    transform: translateX(calc(100% + 1.5rem));
    top: 1.75rem;
    width: 15.9375rem;
    height: 15rem;
  }
}
.hero__text {
  margin-bottom: 4rem;
}
@media only screen and (min-width: 40em) {
  .hero__text {
    flex: 0 0 25rem;
    padding-right: 3.75rem;
    margin-bottom: 0rem;
  }
}
@media only screen and (min-width: 68em) {
  .hero__text {
    flex: 0 0 27.8125rem;
  }
}
@media only screen and (min-width: 40em) {
  .hero__paragraph {
    font-size: 1.125rem;
  }
}
.hero__image {
  border-radius: 1.125rem;
  min-width: 23.25rem;
  height: auto;
  flex-shrink: 0;
}
@media only screen and (min-width: 40em) {
  .hero__image {
    height: 26.5625rem;
    width: auto;
  }
}
@media only screen and (min-width: 68em) {
  .hero__image {
    width: 33.75rem;
    height: auto;
  }
}
.hero span {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #7b8bad;
  margin-left: 2rem;
}

.gallery {
  margin-top: 1.5rem;
  margin-bottom: 6.9375rem;
  position: relative;
}
@media only screen and (min-width: 40em) {
  .gallery {
    margin-inline: 1.5rem;
  }
}
@media only screen and (min-width: 68em) {
  .gallery {
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-content: space-between;
    gap: 7.8125rem;
    width: 69.375rem;
    margin: 2rem auto;
    max-height: 30rem;
  }
}
@media only screen and (min-width: 89.5em) {
  .gallery:before {
    content: "";
    display: block;
    position: absolute;
    background-image: url("./../assets/shared/pattern-square.svg");
    left: 0;
    bottom: 0;
    transform: translateX(calc(-100% - 1.5rem));
    width: 15.9375rem;
    height: 15rem;
  }
}
.gallery__wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1.5rem;
  margin-left: -1.5rem;
  margin-right: 1.5rem;
  width: 100%;
  position: relative;
}
@media only screen and (min-width: 40em) {
  .gallery__wrapper {
    margin-inline: 0rem;
    max-height: 27.8125rem;
  }
}
@media only screen and (min-width: 68em) {
  .gallery__wrapper {
    margin: 0;
    max-height: 30rem;
  }
}
.gallery__image {
  object-fit: cover;
  width: 100%;
  position: relative;
  height: 100%;
  display: block;
  border-radius: 1rem;
}
@media only screen and (min-width: 40em) {
  .gallery__image {
    max-height: 27.8125rem;
  }
}
@media only screen and (min-width: 68em) {
  .gallery__image {
    max-height: 30rem;
  }
}
.gallery__text {
  text-align: center;
  padding-top: 4.6875rem;
}
@media only screen and (min-width: 40em) {
  .gallery__text {
    display: flex;
    gap: 2.25rem;
    justify-content: center;
  }
}
@media only screen and (min-width: 68em) {
  .gallery__text {
    flex-direction: column;
    gap: 0rem;
  }
}
.gallery__headline {
  margin-inline: 2.5rem;
}
@media only screen and (min-width: 40em) {
  .gallery__headline {
    text-align: left;
    margin-inline: 0;
    max-width: 16rem;
  }
}
.gallery__paragraph {
  margin-top: 1.5rem;
  margin-inline: 1.5rem;
}
@media only screen and (min-width: 40em) {
  .gallery__paragraph {
    max-width: 25rem;
    margin-inline: 0;
  }
}
@media only screen and (min-width: 68em) {
  .gallery__paragraph {
    text-align: left;
    max-width: unset;
  }
}

.multiply {
  mix-blend-mode: multiply;
  opacity: 0.75;
}

.orange {
  background-color: #f26818;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}

.details ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
  /* for mobile view it is in one column, but for the tablet and desktop,
  there are two columns and four columns. U used CSS Grid for this layout,
  because it is easier than flexbox

  */
}
.details ul h3 {
  margin-inline: 3rem;
}
@media only screen and (min-width: 40em) {
  .details ul h3 {
    margin-inline: 0;
  }
}
.details ul p {
  margin-top: 0;
  margin-bottom: 4rem;
}
@media only screen and (min-width: 40em) {
  .details ul {
    text-align: left;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4.3125rem;
  }
}
@media only screen and (min-width: 68em) {
  .details ul {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.875rem;
    margin-top: 8.5rem;
  }
}
.details__icon--compatible:before, .details__icon--light:before, .details__icon--battery:before, .details__icon--bluetooth:before {
  content: "";
  width: 4.0625rem;
  height: 4.0625rem;
  display: inline-block;
  border-radius: 1rem;
  margin-bottom: 3rem;
  background-image: url("./../assets/shared/icon-compatible.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #f26818;
}
.details__icon--bluetooth:before {
  background-image: url("./../assets/shared/icon-bluetooth.svg");
}
.details__icon--battery:before {
  background-image: url("./../assets/shared/icon-battery.svg");
}
.details__icon--light:before {
  background-image: url("./../assets/shared/icon-light.svg");
}

.footer {
  text-align: center;
}
.footer__copyright {
  padding-bottom: 1.125rem;
}
.footer__copyright span {
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
